# Ignore Python bytecode files and __pycache__ folder
__pycache__/
*.py[cod]
*.csv
*.html
curl_config.txt
video_domains.txt
content_domains.txt
# Ignore .env file (commonly used for environment variables)
.env
env/
coomer.json
logs.txt